<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/settings.css">
    <link rel="shortcut icon" href="/assets/images/favi/favicon.png" type="image/x-icon">
    
    <!-- pwa -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="theme-color" content="#ffffff"/>
    <link rel="apple-touch-icon" href="/pwa/images/ks-logo-ios.png">

    <title>KevinServ DB - Settings</title>
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a draggable="false" href="/"><img draggable="false" class="logo" src="/assets/images/KS-logo.png" alt="logo"></a></li>
            <li><a draggable="false" href="/settings">Settings</a></li>
            <li><a draggable="false" href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>
</header>

<!-- FORM REQUEST LOADER -->
<%- include('modules/loader.ejs') %>

<main>
    <div class="container">
        <article class="title">
            <a href="/dashboard" class="transparent-c-btn flex-c btn"><img height="22px" width="22px" src="/assets/svg/back-arrow.svg"></a>
            <h4>Settings</h4>
        </article>
        <article class="main">
            <section class="menu">
                <ul id="menuSelector">
                    <li id="1" class="btn-s2 btn"><img  height="16px" width="16px" src="/assets/svg/history.svg">Log</li>
                    <li id="2" class="btn-s2 btn"><img  height="16px" width="16px" src="/assets/svg/key.svg">Invites</li>
                    <li id="3" class="btn-s2 btn"><img  height="16px" width="16px" src="/assets/svg/account-empty.svg">Account</li>
                </ul>
            </section>

            <section id="content" class="content">

                <div id="c1" class="log none">
                    <main>
                        <% 
                        logData.reverse().forEach((data) => {

                            const date = new Date(data.date).toLocaleDateString("it-IT", {
                                hour12: false, hour: '2-digit', 
                                minute:'2-digit', 
                                day: "2-digit", 
                                month: "2-digit", 
                                year: "numeric"
                            })

                        %>

                            <article>
                                <p class="sub">Client</p> <p> <%= data.client %> </p>
                                <span><p class="sub">Date:</p> <p> <%= date %> </p></span>
                                <span><p class="sub">IP: </p> <p> <%= data.ip%> </p></span>
                            </article>
    
                        <% }) %>   
                    </main>
                    <div>
                        <a scope="serverAction" class="flex-c btn btn-s3" href="/delete/log"><img height="16px" width="16px" src="/assets/svg/white-bin.svg">Log</a>
                    </div>
                </div>

                <div id="c2" class="invite none">
                    <main>
                        <% 
                        inviteData.reverse().forEach((data) => { 
                        
                            const date = new Date(data.date).toLocaleDateString("it-IT", {
                                hour12: false, hour: '2-digit', 
                                minute:'2-digit', 
                                day: "2-digit", 
                                month: "2-digit", 
                                year: "numeric"
                            })
                            
                        %>
    
                            <article>
                                <section class="data">
                                    
                                    <p class="sub">Code</p> <p> <%= data.code %> </p>
                                    
                                    <%if (data.email) { %> <span><p class="sub">Email:</p> <p><%= data.email %></p></span> <% } %>
                                    
                                    <span><p class="sub">Created:</p> <p> <%= date %> </p></span>
                                    <span><p class="sub">Valid:</p> <p class="<% if (data.valid) { %> green <% } else { %> red <% } %>"> <%= data.valid %> </p></span>
                                
                                </section>

                                <% if (data.valid) { %>
                                    <form method="post" action="/delete/invite" class="delete-btn flex-c">

                                        <button type="submit" name="id" value="<%= data._id %>" class="btn flex-c">
                                            <img height="16px" width="16px" src="/assets/svg/bin.svg">
                                        </button>

                                    </form>
                                <% } %>

                            </article>
    
                        <% }) %>   
                    </main>
                </div>

                <div id="c3" class="account none">

                    <main>
                        <article class="none">
                            <section>
                                <h1>1</h1>
                            </section>
                        </article>

                        <article class="none">
                            <section>
                                <h1>2</h1>
                            </section>
                        </article>

                        <article class="none">
                            <section>
                                <h1>3</h1>
                            </section>
                        </article>

                        <article class="delete">
                            <section>

                                <h4>Delete Account</h4>

                                <p>Warning all your data will be deleted, sessions excluded and you will be kicked out of your account</p>

                                <div class="content">
                                    <form method="post" action="/delete/account">
                                        <% if (error == 3) { %> <p class="error-2 flex-c">Wrong Password</p> <% } %>
                                        
                                        <input required class="in-s1" placeholder="Account password" type="password" name="password">

                                        <button class="btn btn-s3" type="submit">Delete Account</button>
                                    </form>
                                </div>
                            </section>
                        </article>
                    </main>
                    
                </div>

            </section>
        </article>
    </div>
</main>

<script src="/assets/js/settings.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>