<!DOCTYPE html>

<body>
    <div style="border: rgb(10, 10, 10) solid 2px; border-radius: 15px; margin: 3px; background-color: rgb(255, 255, 255); overflow: hidden;">
        <div style="height: 110px; background-color: rgb(245, 245, 245)">
            <img style="border: rgb(10, 10, 10) solid 1px; margin: 10px; border-radius: 10px;" src="<%= url %>/assets/images/KevinServ-icon.png" height="89px" width="89px">
        </div>
        <div style="margin: 10px;">
            <h2>Your invite link: <a href="<%= url %>/register?InviteCode=<%= code %>">Register</a> !</h2>
            <p>
                <br>You have been invited by <%= name %> <%= surname %> (<%= user %>) to register for free to <a href="<%= url %>">KS-Debt</a> WebApp.
                <br>
                <br>- This registration code is for single use -
                <br><%= code %>
                <br>
                <br>If you are not interested please ignore this email, if you are being spammed please contact me <a href="mailto:kevinservdb@gmail.com">kevinservdb@gmail.com</a>
            </p>
            
        </div>

    </div>
</body>